src/main/resources/beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <!-- Élément racine: beans -->
    <xsd:element name="beans">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bean" type="Bean" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Définition d'un bean -->
    <xsd:complexType name="Bean">
        <xsd:sequence>
            <xsd:element name="constructor" type="Constructor" minOccurs="0"/>
            <xsd:element name="property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:attribute name="class" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Paramètres du constructeur -->
    <xsd:complexType name="Constructor">
        <xsd:sequence>
            <xsd:element name="arg" type="ConstructorArg" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Argument du constructeur -->
    <xsd:complexType name="ConstructorArg">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
        <xsd:attribute name="ref" type="xsd:string"/>
        <xsd:attribute name="index" type="xsd:int"/>
    </xsd:complexType>

    <!-- Propriété -->
    <xsd:complexType name="Property">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string"/>
        <xsd:attribute name="ref" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>
